*,
*::before,
*::after{
    box-sizing: border-box;
}

html,body{
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}

#mainSection{
    display: flex;
    flex-direction: row;
}

#buttonsSection{
    display: flex;
    flex-direction: column;
}

#container{
    width: 700px;
    height: 700px;
    border: 2px solid #000;
    display: flex;
    flex-wrap: wrap;
}

.square{
    
    flex: 0 0 6.25%;
    border: 2px solid #000;
}